.Container{
  z-index: 8;
  border-radius: 10px;
  min-height: 80vh;
  margin: 4rem auto;
  max-width: 30rem;
  margin-bottom: 1rem;
  backdrop-filter: blur(5px);
  background-color: rgb(23, 23, 36, 0.8);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3{
    color: var(--Font-Color);
    font-family: var(--Font-Roboto);
  }

  form{
    border-radius: 2px;
    flex: 1;
    margin: 10px 0px;
    padding: 10px;
    width: 100%;
    background-color: var(--Color-Blue-Dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--Font-Color);
    font-family: var(--Font-Roboto);
    justify-content: center;
    overflow: hidden;

    label{
      margin: 5px 0px;
      text-align: center;
    }

    input{
      border: 0px;
      border-bottom: 1px solid var(--Color-Red);
      font-size: 16px;
      padding: 5px;
      border-radius: 2px;
      background-color: var(--Color-Blue-Light);
      color: var(--Font-Color);
      width: 100%;
      &:active, &:focus{
        outline: none;
      }
    }
    
    textarea{
      margin: 5px 0px;
      border: 0px;
      border-bottom: 1px solid var(--Color-Red);
      font-size: 16px;
      padding: 5px;
      border-radius: 2px;
      background-color: var(--Color-Blue-Light);
      width: 100%;
      resize: none;
      color: var(--Font-Color);
      &:active, &:focus{
        outline: none;
      }
    }

    button{
      background-color: var(--Color-Blue-Light);
      color: var(--Font-Color);
      padding: 10px 15px;
      border-radius: 2px;
      border: 0px;
      margin-top: 10px;
      font-size: 1rem;
      transition: 0.3s;
      &:hover{
        background-color: rgb(0, 82, 82);
      }

      cursor: pointer;
    }

  }

}

.Cat_One{
  z-index: -1;
  position: fixed;
  top: 0; left: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;

  hr{
    height: 25vh;
    animation: 2s infinite cat2;
  }

  img{
    width: 200px;
    border-radius: 100px;
    border: 2px solid var(--Color-Red);
    -webkit-box-shadow: 0px 0px 50px 5px rgba(187, 0, 70, 1);
    -moz-box-shadow: 0px 0px 50px 5px rgba(187, 0, 70, 1);
    box-shadow: 0px 0px 50px 5px rgba(187, 0, 70, 1);
  }

  &:hover{
    cursor: pointer;
  }

  @keyframes cat2 {
    0%{
      height: 25vh;
    }
    50%{
      height: 30vh;
    }
    100%{
      height: 25vh;
    }
  }

}

.Cat_Two{
  z-index: -1;
  position: fixed;
  bottom: 0; right: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  
  hr{
    height: 25vh;
    animation: 3s infinite cat2;
  }

  img{
    width: 200px;
    border-radius: 100px;
    border: 2px solid var(--Color-Red);
    -webkit-box-shadow: 0px 0px 50px 5px rgba(187, 0, 70, 1);
    -moz-box-shadow: 0px 0px 50px 5px rgba(187, 0, 70, 1);
    box-shadow: 0px 0px 50px 5px rgba(187, 0, 70, 1);
  }

  &:hover{
    cursor: pointer;
  }

  @keyframes cat2 {
    0%{
      height: 25vh;
    }
    50%{
      height: 30vh;
    }
    100%{
      height: 25vh;
    }
  }

}